body{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.container{
    width: 40vw;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}